html,
body {
    width: 100%;
    height: 100%;
    margin: 0;
    text-align: center;
    font-family: helvetica, arial, sans-serif;
    background: #ffffff;
    display: flex;
    justify-content: center;
}

canvas {
    -webkit-touch-callout: none;
    -webkit-user-select: none;
    -khtml-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
    cursor: default;
    position: absolute;
    transition: linear 0.25s;
}

#toggles {
    display: block;
    float: right;
}

#scrollContainer > canvas {
    transform: scale(0.472, 0.411);
}

#game {
    position: relative;
    margin: 0 auto;
    border: 1px solid black;
    overflow: hidden;
    border-radius: 5px;
    display: flex;
    justify-content: center;
    align-items: center;
}

#scrollContainer {
    background: white;
    width: 890px; /* 890px; */
    height: 700px; /* 700px; */
    display: flex;
    justify-content: center;
    align-items: center;
    transition: linear 0.25s;
}

#scrollContainer.dark {
    background: #000000 !important;
    /* background: #121B31 !important; */
    /* background: #121B31 !important; */
    
    /* background: url(data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAAAUAAAAFCAYAAACNbyblAAAAI0lEQVQIW2NkwAT/GdHE/gP5jMiCYAGQIpggXAAmiCIAEgQAAE4FBbECyZcAAAAASUVORK5CYII=) #121B31 !important; */
}

#hillContainer {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    height: 100%;
}

#hill {
    height: 15px;
    width: 15px;
    /* background: radial-gradient(rgba(255,0,0,0.85) 35%, transparent 70%); */
    border-radius: 50%;
    margin-top: 2px;
    margin-left: 4px;
    /* z-index: 99; */
}

#screenModal .modal-body {
    display: flex;
    justify-content: center;
    height: 600px;
}

#screenModal .modal-body > * {
    height: 100% !important;
    width: 100% !important;
    display: block;
    position: relative;
    
}

#recordCounter {
    position: absolute;
    bottom: 0;
    right: 0;
    text-align: center;
    display: flex;
    background: #71BA51;
    border-top: 1px solid black;
    border-left: 1px solid black;
    padding: 5px 10px;
    color: white;
    font-weight: bold;
    border-radius: 5px 0 0 0;
    align-items: center;
}

/* .container.modified {
    transform: scale(0.8);
    margin: -4%;
    margin-bottom: 10px;
} */